.red {
    width: 100px;
    height: 100px;
    background-color: red;
    transition: all 2s;
}
.red:hover {
    /* width: 200px;
    height:200px; */
    transform: translateX(400px);
    opacity: 0;
}
.green {
    width: 100px;
    height: 100px;
    background-color: green;
    transition: all 2s;
}
.yellow {
    width: 100px;
    height: 100px;
    background-color: yellow;
    transition: all 2s;
}
.blue {
    width: 100px;
    height: 100px;
    background-color: blue;
    transition: all 2s;
}